{
    "bootstrap_expect": 1,
    "client_addr": "0.0.0.0",
    "datacenter": "{{ cluster_dc_name }}",
    "data_dir": "{{ consul_data_dir }}",
    "domain": "{{ consul_domain }}",
    "enable_script_checks": true,
    "dns_config": {
        "enable_truncate": true,
        "only_passing": true
    },
    "ports": {
        "http": 8500,
        "https": 8501
    },
    "enable_syslog": true,
    "encrypt": "{{ consul_encrypt }}",
    "leave_on_terminate": true,
    "log_level": "INFO",
    "rejoin_after_leave": true,
    {% if nomad_node == 'client' %}
    "server": false,
    {% else %}
    "server": true,
    {% endif %}
    "start_join": [
        "{{ consul_server }}"
    ],
    "ui_config": {
	    "enabled":true
    },
    "verify_incoming": true,
    "verify_outgoing": true,
    "verify_server_hostname": true,
    "ca_file": "{{ ca_trust_store }}/intermediate_ca.{{ ca_cert_suffix }}",
    "cert_file": "{{ host_tls_cert_store }}/{{ ansible_hostname }}-peer.pem",
    "key_file": "{{ host_tls_key_store }}/{{ ansible_hostname }}-peer-key.pem",
    "auto_encrypt": {
            "allow_tls": true
    }
}
