# Gitlab URL
external_url "{{ gitlab_external_url }}"

# gitlab.yml configuration
gitlab_rails['time_zone'] = "{{ gitlab_time_zone }}"
gitlab_rails['backup_keep_time'] = {{ gitlab_bkp_keep_time }}
gitlab_rails['gitlab_email_enabled'] = {{ gitlab_email_enabled | lower }}

# Default Theme
gitlab_rails['gitlab_default_theme'] = "{{ gitlab_default_theme }}"

# To redirect http to https.
nginx['redirect_http_to_https'] = {{ gitlab_redirect_http_to_https | lower }}
nginx['ssl_certificate'] = "{{ gitlab_ssl_cert }}"
nginx['ssl_certificate_key'] = "{{ gitlab_ssl_cert_key }}"

# The directory where Git repositories will be stored.
git_data_dirs({"default" => {"path" => "{{ gitlab_path_data }}"} })

# The directory where Gitlab backups will be stored
gitlab_rails['backup_path'] = "{{ gitlab_path_bkp }}"

# Disable ldap, smtp and letsencrypt
gitlab_rails['ldap_enabled'] = {{ gitlab_ldap_enabled | lower }}
letsencrypt['enable'] = {{ gitlab_letsencrypt_enabled | lower }}
gitlab_rails['smtp_enable'] = {{ gitlab_smtp_enabled | lower }}

# GitLab registry settings
registry['enable'] = {{ gitlab_registry_enabled | lower }}
{% if gitlab_registry_enabled %}
registry_external_url "{{ gitlab_registry_external_url }}"
registry_nginx['ssl_certificate'] = "{{ gitlab_registry_nginx_ssl_cert }}"
registry_nginx['ssl_certificate_key'] = "{{ gitlab_registry_nginx_ssl_cert_key }}"
{% endif %}
