{  
  "CN": "{{ ansible_fqdn }}",
  "key": {
    "algo": "{{ cfssl_ca_key_algo }}",
    "size": {{ cfssl_ca_key_size }}
  },
  "names": [
  {
    "C": "{{ cfssl_ca_names_c }}",
    "L": "{{ cfssl_ca_names_l }}",
    "O": "{{ cfssl_ca_names_o }}",
    "OU": "{{ cfssl_ca_names_ou }}",
    "ST": "{{ cfssl_ca_names_st }}"
  }
  ],
  "hosts": [
    "{{ ansible_hostname }}.{{ domain_name }}",
    "{{ ansible_hostname }}",
    "localhost",
    "127.0.0.1", 
    "{{ ansible_default_ipv4.address }}",
    "{{ ansible_hostname }}.{{ domain_name }}.nomad",
    "{{ ansible_hostname }}.{{ domain_name }}.consul",
    {% if nomad_node == 'client' or nomad_node == 'server' %}
    "{{ nomad_node }}.{{ domain_name }}.nomad"
    {% elif nomad_node == 'both' %}
    "server.{{ domain_name }}.nomad",
    "client.{{ domain_name }}.nomad"
    {% elif nomad_node is undefined %}
    {% endif %}
    {% if consul_node == 'client' or consul_node == 'server' %}
    "{{ consul_node }}.{{ domain_name }}.consul"
    {% elif consul_node == 'both' %}
    "server.{{ domain_name }}.consul",
    "client.{{ domain_name }}.consul"
    {% elif consul_node is undefined %}
    {% endif %}
  ]
}
